@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    /* --bs-primary: #3a57e8; */
    --bs-primary: #3E5F9E;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-block: hidden;
    overflow: hidden;
    /* background-repeat: no-repeat;
    background-image: url(https://media.discordapp.net/attachments/1157069784446414898/1279590076925612142/image.png?ex=66d6f8df&is=66d5a75f&hm=ac119044d93a08fab21cb693639698cd9c8c04fdc77fde6ac27e5dd3461432e1&=&format=webp&quality=lossless&width=550&height=309);
    background-size: cover;
    background-position: center;  */
    display: none;
} 


body::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0.1825105042016807) 0%, rgba(35, 38, 53, 0.8) 100%);
}  

.container{
    width: 1500px;
    height: 740px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 20px;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    display: flex;
}
  
.lado-esquerdo{
    width: 20%;
    height: 100%;
}

.input-box{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    outline: 4px solid rgb(30, 29, 29,0.4);
    background: rgb(30, 29, 29,0.8);
    display: flex;
}

.search-icon{
    width: 35px;
    height: 35px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
}

.input-box input{
    width: 70%;

    height: 100%;
    background: transparent;
    outline: transparent;
    border: 0;
    font-family: "Rubik", sans-serif;
    font-weight: normal;
    font-size: 18px;
    margin-left: 5%;
    color: #cccc;
}

.overflow-carros{
    width: 100%;
    height: 88%;
    margin-top: 5%;
    overflow: auto;
}

.item{
    width: 95%;
    margin-left: 1.5%;
    height: 240px;
    outline: 4px solid rgb(30, 29, 29,0.4);
    background: rgb(30, 29, 29,0.8);
    border-radius: 10px;
    position: relative;
    margin-top: -18%;
}

.item:nth-child(1){
    margin-top: -20%;
}

.tipo-carro{
    position: absolute;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background: #464545;
    box-shadow: 0px 0px 10px #464545;
    color: #fff;
    font-family: "Rubik", sans-serif;
    font-weight: normal;
    right: 5%;
    margin-top: 5%;
}


.img-carro{
    min-width: 200px;
    max-width: 200px;
    min-height: 120px;
    max-height: 120px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    position: relative;
    top: 25%;
    margin-top: 25%;
}

.nome-carro{
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-weight: normal;
    color: #fff;
    font-size: 22px;

}


.lado-direito{
    outline: 4px solid rgb(30, 29, 29,0.4);
    background: rgb(30, 29, 29,0.8);
    height: 100%;
    width: 76%;
    margin-left: 2%;
    border-radius: 10px;
}



.cima{
    width: 100%;
    height: 15%;
}



.nome-carro2{
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 40px;
    display: block;
    position: relative;
    margin-left: 3%;
    top: 30%;
}

.nome-carro2 .categoria{
    background: #464545;
    box-shadow: 0px 0px 10px #464545;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-size: 16px;
    position: absolute;
    top: 10%;
    margin-left: 2%;
}

.img-marca {
    position: absolute;
    max-width: 85px;
    max-height: 70px;
    margin-top: 3%;
    margin-left: 2%;
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}


.box-placa{
    padding: 10px;
    padding-left: 20px;
    padding-right: 30px;
    outline: 4px solid rgb(60, 59, 59,0.2);
    background: #3C3B3B;
    position: absolute;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    border-radius: 10px;
    margin-left: 10%;
    margin-top: 3.5%;
    color: #fff;
    display: flex;
}

.imagem-pen{
    margin-right: 10%;
}

.carro-meio{
    min-width: 700px;
    min-height: 450px;
    max-height: 450px;
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.baixo-infos{
    width: 50%;
    margin-left: 3%;
    height: 100px;
    display: flex;
    margin-top: 2.5%;
}

.item-baixo{
    width: 30%;
    height: 100%;
    margin-left: 5%;
}


.item-baixo:nth-child(1){
    margin-left: 0%;
}

.cima-t{
    width: 100%;
    height: 30px;
    display: flex;
}

.cima-t img{
    width: 30px;
    height: 30px;
}

.cima-1{
    text-align: center;
    font-family: "Rubik", sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    justify-content: center;
    line-height: 30px;
    margin-left: 5%;

}

.barra1{
    background: #3C3B3B;
    width: 100%;
    height: 20px;
    border-radius: 20px;
    margin-top: 3%;
    display: flex; 
    align-items: center; 
}

.barra2{
    width: 94%;
    height: 70%;
    margin-left: 3%;
    border-radius: 20px;
}

.barra3{
    width: 0%;
    height: 100%;
    border-radius: 20px;
    background: #EBA901;
    box-shadow: 0px 0px 10px rgba(235, 169, 1, 0.63);
    transition: all 1s;
}

.barra4{
    width: 0%;
    height: 100%;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.63);
    transition: all 1s;
}

.porcentagem{
    text-align: center;
    font-family: "Rubik", sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5%;
}

.baixo2-infos{
    position: absolute;
    width: 20%;
    height: 45px;
    right: 4%;
    bottom: 3%;
    display: flex;
}

.botao{
    width: 180px;
    height: 45px;
    text-align: center;
    font-family: "Rubik", sans-serif;
    color: #fff;
    font-size: 20px;
    background: #3C3B3B;
    outline: 3px solid rgba(60, 59, 59, 0.2);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
    margin-left: 5%;
    transition: all .5s;
}

.botao:hover{
    background: rgb(83, 83, 83);
    outline: 3px solid rgb(83, 83, 83,0.2);
}

.retirar{
    background: #337832;
    outline: 3px solid rgba(51, 120, 50, 0.2);
}

.retirar:hover{
    background: rgba(45, 168, 41);
    outline: 3px solid rgba(45, 168, 41, 0.2);
}

.Alugados{
    background: #FEA800;
    box-shadow: 0px 0px 10px #FEA800;
}

.Exclusivos{
    background: #c300fe;
    box-shadow: 0px 0px 10px #c300fe;
}

.DVip{
    background: #7baa0d;
    box-shadow: 0px 0px 10px #7baa0d;
}

.Baby{
    background: #f32bf3;
    box-shadow: 0px 0px 10px #f32bf3;
}


.cima2-infos{
    position: absolute;
    width: 15%;
    height: 120px;
    top: 5.5%;
    right: 4%;
}

.cima3-infos{
    width: 100%;
    height: 45px;
    display: flex;
}

.botao-loc{
    background: rgba(221, 187, 66, 0.6);
    outline: 3px solid rgba(221, 187, 66, 0.2);
    border-radius: 10px;
    width: 55%;
    height: 45px;
    font-family: "Rubik", sans-serif;
    color: #fff;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

.botao-chave{
    width: 45px;
    height: 45px;
    background: rgba(60, 59, 59, 0.6);
    outline: 3px solid rgba(60, 59, 59, 0.2);
    border-radius: 10px;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

.botao-chave img{
    width: 25px;
    height: 25px;
    opacity: 0.5;
}


.botao-bau{
    width: 45px;
    height: 45px;
    background: rgba(60, 59, 59, 0.6);
    outline: 3px solid rgba(60, 59, 59, 0.2);
    border-radius: 10px;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

.botao-bau img{
    width: 25px;
    height: 25px;
    opacity: 0.5;
}


.botao-loc:hover{
    background: rgba(255, 207, 32, 0.6);
    outline: 3px solid rgba(255, 207, 32, 0.2);
}


.botao-chave:hover{
    background: rgb(83, 83, 83);
    outline: 3px solid rgb(83, 83, 83,0.2);
}


.botao-bau:hover{
    background: rgb(83, 83, 83);
    outline: 3px solid rgb(83, 83, 83,0.2);
}

.expira-em{
    background: rgba(60, 59, 59, 0.6);
    outline: 3px solid rgba(60, 59, 59, 0.2);
    width: 100%;
    height: 25px;
    margin-top: 5%;
    border-radius: 10px;
    font-family: "Rubik", sans-serif;
    color: #fff;
    font-size: 13px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expira-em2{
    background: rgba(60, 59, 59, 0.6);
    outline: 3px solid rgba(60, 59, 59, 0.2);
    width: 100%;
    height: 40px;
    margin-top: 5%;
    border-radius: 10px;
    font-family: "Rubik", sans-serif;
    color: #fff;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expira-em3{
    background: rgba(255, 109, 109, 0.6);
    outline: 3px solid rgba(255, 109, 109, 0.2);
    width: 100%;
    height: 40px;
    margin-top: 5%;
    border-radius: 10px;
    font-family: "Rubik", sans-serif;
    color: #fff;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

.expira-em3:hover{
    background: rgba(252, 46, 46, 0.6);
    outline: 3px solid rgba(252, 46, 46, 0.2);
}


.overflow-itens{
    width: 94%;
    margin-left: 3%;
    height: 80%;
    overflow: auto;
}


.item-inv{
    width: 7.2vw;
    height: 7.3vw;
    display: inline-block;
    margin-left: 1%;
    border-radius: 0.5361930294906166vw;
    background: rgba(60, 59, 59, 0.6);
    outline: 3px solid rgba(60, 59, 59, 0.2);
}

.item-inv-nome{
    font-family: "Rubik", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: #fff;
    font-size: 0.7506702412868632vw;
    position: relative;
    top: 5%;
}

.item-img{
    min-width: 4vw;
    max-width: 4vw;
    min-height: 4vw;
    max-height: 4vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.item-inv-qtd{
    font-family: "Rubik", sans-serif;
    white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    color: #fff;
    font-size: 0.6434316353887399vw;

}

.durability{
	width: 80%;
    margin-left: 10%;
    margin-top: 5%;
	height: 0.3753351206434316vw;
}

.durability2{
    width: 100%;
	height: 100%;
    border-radius: 0.5361930294906166vw;
	background: #2e6e4c;
}

::-webkit-scrollbar{
	width: 3px;
	height: 1px;
    border-radius: 10px;
	background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb{
    background: rgb(30, 29, 29,0.8);
  border-radius: 10px;
  transition: all 1s;
}
::-webkit-scrollbar-thumb:hover{
    background: #9c9c9c;
}
::-webkit-scrollbar-track{
	background: transparent;
}
.overflow-verperfil::-webkit-scrollbar{
    display: none;
}




/* -------------------------- */
/* Sistema de Background */
/* -------------------------- */


.background-nuis{
    box-sizing: border-box;
    position: absolute;
    width: 97%;
    height: 94.5%;
    margin-top: 1%;
    margin-left: 1.5%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.5);
    border-radius: 0.2680965147453083vw;
}

/* -------------------------- */
/* Parte 1 */
/* -------------------------- */

.retangulos1{
    position: absolute;
    left: 2.5%;
    top: -1%;
}

.background-retangulos{
    display: inline-block;
    width: 0.4vh;
    height: 1.5vh;
    border-radius: 0.5361930294906166vw;
    background: #D9D9D9;
    box-shadow: 0px 0.4vh 2.5vh #FFFFFF;
    transform: rotate(-7.16deg);
}


/* -------------------------- */
/* Parte 2 */
/* -------------------------- */

.retangulos2{
    position: absolute;
    left: 2.5%;
    bottom: -1.2%;
}

.background-retangulos2{
    display: inline-block;
    width: 0.4vh;
    height: 1.5vh;
    border-radius: 0.5361930294906166vw;
    background: #D9D9D9;
    box-shadow: 0px 0.4vh 2.5vh #FFFFFF;
    transform: rotate(-7.16deg);
}

/* -------------------------- */
/* Parte 3 */
/* -------------------------- */

.retangulos3{
    position: absolute;
    right: 2.5%;
    top: -1%;
}

.background-retangulos3{
    display: inline-block;
    border-radius: 0.5361930294906166vw;
    width: 0.4vh;
    height: 1.5vh;
    background: #D9D9D9;
    box-shadow: 0px 0.4vh 2.5vh #FFFFFF;
    transform: rotate(7.16deg);
}

/* -------------------------- */
/* Parte 4 */
/* -------------------------- */

.retangulos4{
    position: absolute;
    right: 2.5%;
    bottom: -1.2%;
}

.background-retangulos4{
    display: inline-block;
    border-radius: 0.5361930294906166vw;
    width: 0.4vh;
    height: 1.5vh;
    background: #D9D9D9;
    box-shadow: 0px 0.4vh 2.5vh #FFFFFF;
    transform: rotate(7.16deg);
}
