@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap');
body {
    margin: 0px;
    padding: 0px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

body::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.1825105042016807) 0%, rgba(35, 38, 53, 0.8) 100%);
}  




/* -------------------------- */
/* Sistema de Background */
/* -------------------------- */


.background-nuis{
    box-sizing: border-box;
    position: absolute;
    width: 97%;
    height: 94.5%;
    margin-top: 1%;
    margin-left: 1.5%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

/* -------------------------- */
/* Parte 1 */
/* -------------------------- */

.retangulos1{
    position: absolute;
    left: 2.5%;
    top: -1%;
}

.background-retangulos{
    display: inline-block;
    width: 0.4vh;
    height: 1.5vh;
    border-radius: 10px;
    background: #D9D9D9;
    box-shadow: 0px 0.4vh 2.5vh #FFFFFF;
    transform: rotate(-7.16deg);
}


/* -------------------------- */
/* Parte 2 */
/* -------------------------- */

.retangulos2{
    position: absolute;
    left: 2.5%;
    bottom: -1.2%;
}

.background-retangulos2{
    display: inline-block;
    width: 0.4vh;
    height: 1.5vh;
    border-radius: 10px;
    background: #D9D9D9;
    box-shadow: 0px 0.4vh 2.5vh #FFFFFF;
    transform: rotate(-7.16deg);
}

/* -------------------------- */
/* Parte 3 */
/* -------------------------- */

.retangulos3{
    position: absolute;
    right: 2.5%;
    top: -1%;
}

.background-retangulos3{
    display: inline-block;
    border-radius: 10px;
    width: 0.4vh;
    height: 1.5vh;
    background: #D9D9D9;
    box-shadow: 0px 0.4vh 2.5vh #FFFFFF;
    transform: rotate(7.16deg);
}

/* -------------------------- */
/* Parte 4 */
/* -------------------------- */

.retangulos4{
    position: absolute;
    right: 2.5%;
    bottom: -1.2%;
}

.background-retangulos4{
    display: inline-block;
    border-radius: 10px;
    width: 0.4vh;
    height: 1.5vh;
    background: #D9D9D9;
    box-shadow: 0px 0.4vh 2.5vh #FFFFFF;
    transform: rotate(7.16deg);
}

.container{
	width: 540px;
    height: 580px;
	position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
	animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    background: rgba(15, 15, 15, 0.7);
    border-radius: 10px;
}

.titlo1{
    font-weight: 100;
    font-size: 20px;
    margin-left: 5%;
    margin-top: 5%;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.titlo2{
    font-weight: bold;
    font-size: 20px;
    margin-left: 5%;
    margin-top: 1%;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.titlo2 ss{
    color: #4584FE;
}

.img-pero{
    max-width: 60px;
    min-width: 60px;
    max-height: 60px;
    min-height: 60px;
    object-fit: cover; /* Evita esticamento da imagem */
    box-sizing: border-box;
    margin-top: -10%;
    margin-left: 84%;
    border-radius: 100%;
    padding: 2px;
    border: 1px solid #4584FE;
}

.img-emprego{
    max-width: 90%;
    min-width: 90%;
    max-height: 220px;
    min-height: 220px;
    border-radius: 10px;
    margin-left: 5%;
    margin-top: 3%;
    object-fit: cover; /* Evita esticamento da imagem */
    box-sizing: border-box;
}

.tutorial{
    margin-left: 5%;
    margin-top: 3%;
}

.box-tutorial{
    width: 90%;
    height: 20%;
    margin-top: 2%;
    margin-left: 5%;
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
  
  
  
.tipo-emprego{
    width: 90%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-left: 5%;
    margin-top: -9%;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
background: linear-gradient(180deg, rgba(15, 15, 15, 0.42) 0%, rgba(15, 15, 15, 0.9) 100%);
border-radius: 0px 0px 10px 10px;

}

.item-tutorial{
    margin-top: 4%;
    font-size: 14px;
}

.item-tutorial ss{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 10px;
    font-weight: bold;
    background: white;
    font-size: 18px;
    margin-left: 1%;
    color: #000;
    text-align: center;
}

.iniciar{
    width: 50%;
    margin-left: 25%;
    transition: all 1s;
}

.iniciar:hover{
    transform: scale(1.1);
}